<h1>Good news, <%= @user.name %></h1>
<p>
  You have completed a lesson on <%= @lesson.created_at %>
  of category <%= @lesson.category.name %> <br>
</p>
<p> You have just learned 10 new words, greate job ! </p>
<p>Practice makes perfect!</p>

